.title {
    font-size: 30px;
    min-width: 950px;
    width: 60%;
    max-width: 1200px;
    margin: 20px auto 30px auto;
}

.page {
    min-width: 900px;
    /* width: 60%; */
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;
}

/* .input {
    margin-bottom: 8px;
} */

#register_form label {
    width: 140px;
}

#register_form input:not([type="submit"]) {
    width: 300px;
}